{% load i18n feature_flags %}
<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-2">
    <nav class="grid grid-flow-col gap-4 mb-0">
        <a class="link link-hover" href="{% url 'ui:index' %}">{% trans "About us" %}</a>
        <a class="link link-hover" href="{% url 'ui:index' %}">{% trans "Contact" %}</a>
        {% flag_enabled "SHOW_ADMIN_LINK" as show_admin_link %}
        {% if show_admin_link %}
            <a class="link link-hover" href="{% url 'admin:index' %}" target="_admin">{% trans "Admin" %}</a>
            <a class="link link-hover" href="{% url 'api:api-root' %}" target="_api">{% trans "API" %}</a>
        {% endif %}
    </nav>
    <div class="info-line">
        <div>
            {% blocktranslate %}Copyright © {{ year }} All right reserved by UNICEF{% endblocktranslate %}
        </div>
        <div>
            {{ app.version }}
        </div>
        <div>
            {% include "includes/_language_switch.html" %}
        </div>
        <div class="font-size-selector">
            <span class="font-1" data-size="font-size-normal">
                Az
            </span>
            <span class="font-2" data-size="font-size-medium">
                Az
            </span>
            <span class="font-3" data-size="font-size-big">
                Az
            </span>
        </div>
        <div>
            {% include "includes/theme_switch.html" %}
        </div>
    </div>
</footer>
