.*
~*
!.dockerignore
!.dockerignoredo
!.git
!.python-version
!.github/
!.gitignore
!.pre-commit-config.yaml
!.envrc
!.idea33
!.semgrep

!tests/.coveragerc
!docs/**/.pages

junit.xml
coverage.xml
src/{{cookiecutter.package_name}}/version.py
src/{{cookiecutter.package_name}}/static

*.egg-info

node_modules/
dist/
