.*
~*
!.dockerignore
!.dockerignoredo
!.git
!.python-version
!.github/
!.gitignore
!.pre-commit-config.yaml
!.envrc
!.idea

!tests/.coveragerc
!docs/**/.pages

src/{{cookiecutter.package_name}}/version.py

node_modules/
dist/
